<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
<!--
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File" value="${filter.log4j.debugLogFile}" />
		<param name="Threshold" value="${filter.log4j.threshold}" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{3}(:%L)] %m%n" />
		</layout>
	</appender>
 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<param name="Threshold" value="${p.log.console.level}" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<category name="com.systematictesting">
		<priority value="${p.log.application.level}" />
		<!-- <appender-ref ref="FILE" /> -->
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.springframework.web">
		<priority value="${p.log.springframework.level}" />
		<appender-ref ref="CONSOLE" />
	</category>

	<root>
		<level value="${p.log.root.level}" />
	</root>

</log4j:configuration>
