
	<div class="modal-header">
	    <h3 class="modal-title">
	    	Element Properties
	    	<button class="btn btn-danger" style="float:right;" ng-click="close()">X</button>
	    </h3>
	    
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="form-group">
		            <label class="control-label" for="elementPropertyName"> Property Name <span class="mandatory">*</span></label>
		            <input type="text" id="elementPropertyName" class="form-control" ng-model="jsonElementPropertyToSubmit.elementPropertyName" placeholder="Enter Property Name" ng-disabled="singleElementProperty.elementPropertyNameStatus"/>
		        </div>
		        <div class="form-group">
		            <label class="control-label" for="elementPropertyValue"> Property Value <span class="mandatory">*</span></label>
		            <input type="text" id="elementPropertyValue" class="form-control" ng-model="jsonElementPropertyToSubmit.elementPropertyValue" placeholder="Enter Property Value"/>
		        </div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				 <button type="button" class="btn btn-success btn-s" ng-click="submitElementProperty()" ng-disabled="isAjaxFinished=='false' || singleElementProperty.button.disable=='true'">
		        	<span class="glyphicon glyphicon-ok"></span> {{singleElementProperty.button.label}}
		        </button>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<br/>
		<div class="row" ng-show="isAjaxFinished=='false'">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="alert alert-warning" role="alert">Please wait...</div>
			</div>
			<div class="col-sm-1"></div>
	    </div>
	    <div class="row" ng-show="singleElementProperty.button.error=='true'">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="alert alert-danger" role="alert">{{singleElementProperty.button.errorMessage}}</div>
			</div>
			<div class="col-sm-1"></div>
	    </div>

	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="close()">Close</button>
	</div>
