<div id="testcatalogApp">
  <div ng-include="'templates/module/testcatalog/view/menubar.jsp'"></div>

  <div class="container-fluid">
  	<div class="row breadcrumb breadcrumb-title">
		<div class="col-md-12">
			<span ng-repeat="breadcrumbItem in breadcrumb.data">
				<a href="{{breadcrumbItem.anchor}}">
					{{breadcrumbItem.displayName}}
				</a>
				<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			</span>
			
			<span class="selected-item-breadcrumb">{{breadcrumb.currentPageDisplayName}}</span>
		</div>
	</div>


	<div class="row grey-background show-box">
		<div class="col-md-6">	
			<h4>Scenario Details</h4>
		</div>
		<div class="col-md-6 align-text-vertically-middle align-text-right button-bar">	
			<button class="btn btn-primary btn-s" ng-click="actions.editTestCase()">
				<i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;Edit Scenario
			</button>
		</div>
	</div>
 	<div class="row">
 		<div class="col-md-12">
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Site Name</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5>{{siteName}}</h5>
 				</div>
 			</div>
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Feature Name</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5>{{testSuiteName}}</h5>
 				</div>
 			</div>
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Feature Description</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5><div ng-bind-html="singleTestSuiteFromLibrary.testSuite.suiteDescription"></div></h5>
 				</div>
 			</div>
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Source Type</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5>{{sourceType}}</h5>
 				</div>
 			</div>
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Scenario ID</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5>{{testCaseId}}</h5>
 				</div>
 			</div>
 			<div class="row show-box">
 				<div class="col-xs-3">
 					<h5>Scenario Description</h5>
 				</div>
 				<div class="col-xs-9">
 					<h5><div ng-bind-html="completeTestCase.testCaseName"></div></h5>
 				</div>
 			</div>
	  		<div class="row show-box">
	  			<div class="col-xs-3">
	  				<h5>Last modified on</h5>
	  			</div>
	  			<div class="col-xs-9">
	  				<h5>{{singleTestSuiteFromLibrary.lastmodifiedtime | secondsToDateTime}}</h5>
	  			</div>
	  		</div>
		</div>
	</div>
	<br/>
 	
	<div class="row grey-background show-box">
		<div class="col-md-6">	
			<h4>Test Steps</h4>
		</div>
		<div class="col-md-6 align-text-vertically-middle align-text-right button-bar">	
			<button class="btn btn-primary btn-s" ng-click="actions.addTestStep()">
				<i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Add Steps
			</button>
		</div>
	</div>
	<div class="row" ng-show="tableItems.length==0">
		<div class="col-md-12">
			<br/>
	      	<div class="alert alert-warning" role="alert">Please add steps here!</div>
	      </div>
	</div>
	<br/>
	
	<div class="row" ng-show="isAjaxFinished=='false'">
      <div class="col-md-12">
      	<div class="alert alert-warning" role="alert">Please wait...</div>
      </div>
    </div>
    
    
    <div class="row" ng-hide="tableItems.length==0">
		<div class="col-sm-12">
			<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped">
				<tr ng-repeat="row in $data">
					<td title="'ID'" filter="{'stepId': 'text'}" sortable="'stepId'" class="align-text-vertically-middle" style="width:80px;">{{row.stepId}}</td>
					<td title="'Description'" filter="{'stepDescription': 'text'}" sortable="'stepDescription'" class="align-text-vertically-middle"><div ng-bind-html="row.stepDescription"></div></td>
					<td title="'Action Class'" filter="{'stepKeyword': 'text'}" sortable="'stepKeyword'" class="align-text-vertically-middle" style="max-width:200px;">{{row.stepKeyword}}</td>
					<td title="'Proceed on Fail'" filter="{'proceedOnFail': 'text'}" sortable="'proceedOnFail'" class="align-text-vertically-middle" style="width:150px;">{{row.proceedOnFail}}</td>
					<td title="'Element Type'" filter="{'elementType': 'text'}" sortable="'elementType'" class="align-text-vertically-middle" style="width:150px;">{{row.elementType}}</td>
					<td title="'Element Variable'" filter="{'elementKey': 'text'}" sortable="'elementKey'" class="align-text-vertically-middle">{{row.elementKey}}</td>
					<td title="'Data Field'" filter="{'elementValue': 'text'}" sortable="'elementValue'" class="align-text-vertically-middle">{{row.elementValue}}</td>

					<td title="'Action'" class="hide-on-mobile align-text-vertically-middle align-text-center" header-class="'hide-on-mobile'">
						<a ng-click="actions.editTestStep(row)">
							<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
						</a>
						<a ng-click="actions.deleteTestStep(row)">
							<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
		  </table>
	  	</div>
	</div>
  
  
  </div>
  
</div>
