<!DOCTYPE doctypeName [
   <!ENTITY nbsp "&#160;">
]> 
<ul class="sidebar-nav">
	<li>
	    <a href="#"><span class="navigator-heading">Modules</span></a>
	</li>
</ul>		
		
<!-- <li>
    <a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true"></span><span class="icon-label">Versions</span></a>
</li>
<li>
    <a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span class="icon-label">Test Suites</span></a>
</li>
<li>
    <a href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><span class="icon-label">Test Case</span></a>
</li> -->