	<div class="row grey-background show-box">
		<div class="col-md-12">	
			<h4>Test Suite Details</h4>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6">
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Site Version</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{serverData.catalogVersion}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Site Name</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{serverData.siteName}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Suite Name</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{suiteName}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Start Time</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{testSuiteReportObject.testSuiteDetails.startTime}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>End Time</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5><span ng-class="testSuiteReportObject.testSuiteDetails.endTime=='RUNNING'?'runningStatus':testSuiteReportObject.testSuiteDetails.endTime=='ABORTED'?'abortedStatus':''">{{testSuiteReportObject.testSuiteDetails.endTime}}</span></h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Execution Time</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{testSuiteReportObject.testSuiteDetails.duration | secondsToDateTime}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Browser</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{serverData.browser}}</h5>
	  			</div>
	  		</div>
	  		<div class="row show-box">
	  			<div class="col-xs-6">
	  				<h5>Operating System</h5>
	  			</div>
	  			<div class="col-xs-6">
	  				<h5>{{serverData.operatingSystem}}</h5>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="col-md-6">
	  		<div class="row show-box">
	  			<div class="col-md-12">
	  				<br/>
		  			<c3chart bindto-id="suiteDetails" chart-data="graphData.datapoints" chart-columns="graphData.datacolumns" chart-x="graphData.datax" show-labels="true">
					  	<chart-size chart-height="260"/>
					  	<chart-axis>
							<chart-axis-x axis-position="outer-center" axis-type="category">
							<chart-axis-x-tick tick-culling="4" tick-fit="true" tick-rotate="0"/>
						</chart-axis-x>
						<chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Test Cases" padding-top="50" padding-bottom="1"/>
					  	</chart-axis>
					  	<chart-grid show-x="false" show-y="true"/>
				  	</c3chart>
			  	</div>	
	  		</div>
	  	</div>
	  </div>
	  <br/>
	  <div class="row grey-background show-box">
		<div class="col-md-12">	
			<h4>List of Test Cases</h4>
		</div>
	  </div>
	  <div class="row">
	  	<table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped">
			<tr ng-repeat="row in $data">
				<td title="'Test ID'" filter="{testCaseId: 'text'}" sortable="'testCaseId'">{{row.testCaseId}}</td>
				<td title="'Test Description'" filter="{testCaseName: 'text'}" sortable="'testCaseName'">{{row.testCaseName}}</td>
				<td title="'Seconds'" filter="{duration: 'text'}" sortable="'duration'" class="hide-on-mobile" header-class="'hide-on-mobile'">{{row.duration | secondsToDateTime}}</td>
				<td title="'Start Time'" filter="{startTime: 'text'}" sortable="'startTime'" class="hide-on-mobile" header-class="'hide-on-mobile'">{{row.startTime}}</td>
				<td title="'End Time'" filter="{endTime: 'text'}" sortable="'endTime'" class="hide-on-mobile" header-class="'hide-on-mobile'"><span ng-class="row.endTime=='RUNNING'?'runningStatus':row.endTime=='ABORTED'?'abortedStatus':''">{{row.endTime}}</span></td>
				<td title="'Status'" filter="{status: 'text'}" sortable="'statusClass'" class="{{row.statusClass}}">{{row.statusClass}}</td>
				<td title="'Video'" class="align-text-center">
					<a ng-if="row.videoFile!=null && row.videoFile!='DISABLED' && row.videoFile!='NOT SUPPORTED'" href="{{row.videoFile}}"><i class="fa fa-file-video-o fa-2x" aria-hidden="true"></i></a>
					<span ng-if="row.videoFile==null || row.videoFile=='DISABLED' || row.videoFile=='NOT SUPPORTED'"><i class="fa fa-file-video-o fa-2x disabled" aria-hidden="true"></i></span>
				</td>
				<td title="'Action'" class="hide-on-mobile align-text-center" header-class="'hide-on-mobile'"><a href="{{moduleAccessURL}}/{{serverData.email | encodeURI}}/{{serverData.siteName | encodeURI}}/version/{{serverData.versionNumber}}/{{suiteName | encodeURI}}/{{row.testCaseId | encodeURI}}" class="highlight-box show-dark-box">&nbsp;&nbsp;Steps&nbsp;&nbsp;</a></td>
			</tr>
	    </table>
	  </div>