<div id="showScreenshotKeyModel">
	<div class="modal-header">
	    <h3 class="modal-title">Reset Password</h3>
	</div>
	<div class="modal-body">
	     <div class="form-group">
	            <label class="control-label" for="email">Email <span class="mandatory">*</span></label>
	            <input type="text" id="email" class="form-control" placeholder="Enter email" ng-model="forgotPasswordForm.email" ng-trim="true">
	     </div>
	</div>
	<div class="alert {{forgotPasswordForm.forgotPasswordStatus}}" role="alert">{{forgotPasswordForm.forgotPasswordMessage}}</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="forgotPasswordForm.submit()" ng-disabled="forgotPasswordForm.forgotPasswordButtonDisabled">{{forgotPasswordForm.forgotPasswordButtonText}}</button>
		<button style="float:left;" class="btn btn-primary" ng-click="forgotPasswordForm.login()" ng-disabled="forgotPasswordForm.loginButtonDisabled">{{forgotPasswordForm.loginButtonText}}</button>
	</div>
</div>