<div id="usersHomePage">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
				  <h1>Welcome to QDOS <small>(Quality Definition of System)</small></h1>
				</div>
				<p class="lead">QDOS is an Open Source Test Automation Framework, which is designed on the principle of "Automate Testing without any Technical Knowledge".</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
				  <h3>Introduction</h3>
				  <p>QDOS is developed on top of Selenium API and is used to automate testing for web sites on browsers like Firefox, Google Chrome, PhantomJS (Headless) etc. To use and integrate this framework, NO major technical skills required which means no programming knowledge required in any any of the language like Java, C#, .Net, Ruby etc.</p>
				  <p>QDOS Framework helps automate testing for web sites on market standard internet browsers. Main idea of this framework is to eliminate the technical skills required to automate any web site, which also means that any Manual Tester can use this framework and automate the testing of any web site.
				  <p class="lead">"Manual Tester can be converted to Automation Tester via QDOS - framework."</p>
				  <p><a class="btn btn-primary btn-lg" href="https://github.com/SystematicTesting/QDOS/wiki/Overview" target="_blank" role="button">Learn more</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h4>QDOS Console Modules <small>Features in QDOS Console</small></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#/qdos">Reports</a></h3>
					</div>
					<div class="panel-body">
						<div class="align-text-center">
							<a href="#/qdos" class="desaturateIcons"><img src="images/module/qdos.png" width="130px"/></a>
						</div>
						<p class="paragraph">
							<strong>Reports</strong> 
							module is responsible to display test reports of the automation test suite executed by the tester either on QDOS Grid (Enterprise License Product) or on Local Machine. This module not only
							just displays the reports, it also maintains them in form of version history. So, this module is very helpful to analyse the progress in test automation and also highlights the amount of test cases failed on every run.  
						</p>
						<br/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#/testcatalog">Sites</a></h3>
					</div>
					<div class="panel-body">
						<div class="align-text-center">
							<a href="#/testcatalog" class="desaturateIcons"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size:126px;"></span></a>
						</div>
						<p class="paragraph">
							<strong>Sites</strong> 
							module is responsible to display test suites, test cases and their test steps in nice graphical format. This module not only just display the test data created by a tester, it also maintains
							the version history of all test data, test cases and test suites. This module facilitate tester to write test cases in Microsoft Excel Sheet and then upload them in QDOS Console either one by one or as bulk upload.
							Test Suites Uploaded here is always executed by QDOS Framework.   
						</p>
						<br/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="#/sitemgr">Site Manager</a></h3>
					</div>
					<div class="panel-body">
						<div class="align-text-center">
							<a href="#/sitemgr" class="desaturateIcons"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="font-size:126px;"></span></a>
						</div>
						<p class="paragraph">
							<strong>Site Manager</strong> 
							module is responsible to manage access permissions on sites created inside Sites Module. It supports 3 ways of access permissions.
							<ul>
								<li><strong>Public</strong> : Sites will be shared in read only mode to all the users of QDOS Console regardless of their Company.</li>
								<li><strong>Company</strong> : Sites will be shared in read only mode to the users which are part of SAME COMAPNY in QDOS Console Application.</li>
								<li><strong>Private</strong> : Sites will be completely private to user.</li>
							</ul>  
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
